$small: 575px;
$medium: 767px;
$large: 991px;
$x-large: 1199px;
$xx-large: 1399px;

$max-s: 'max-width: #{$small}';
$max-m: 'max-width: #{$medium}';
$max-l: 'max-width: #{$large}';
$max-xl: 'max-width: #{$x-large}';
$max-xxl: 'max-width: #{$xx-large}';

$min-s: 'min-width: #{$small + 1}';
$min-m: 'min-width: #{$medium + 1}';
$min-l: 'min-width: #{$large + 1}';
$min-xl: 'min-width: #{$x-large + 1}';
$min-xxl: 'min-width: #{$xx-large + 1}';