// Define variables for your color scheme

// Bootstrap colors
$green: #39ab4b;
$red: #FD1015;
$orange: #E67E22;

// Theme colors
$dark-blue: #111c4e;
$blue: #0a1f8f;
$light-blue: #0047ba;
$yellow: #ffbf3c;
$gray: #b0b3b2;
$light-gray: #ECEFF1;
$dark-gray: #33333A;
