#users-contact-form form {
  width: 50%
}

#shops {
  .shop {
    margin: 20px;
    width: 100%;
    h2 {
      margin-top: 10px;
      font-weight: 200;
    }
  }
}

#business-hours {
  .business-day {
    width: 110px;
    display: inline-block;
  }
}

@media ($max-l) {
  #shops {
    flex-direction: column;
  }

  #users-contact-form form {
    width: 100%;
  }
}

@media ($max-m) {
  #shops iframe {
    width: 100%;
  }
}
