#corporate-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 50px;
  margin: 50px 0;
  .corporate-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 15px;
    }
    svg {
      padding: 10px;
      fill: $green;
    }
  }
}
#corporate-clients-slider {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px!important;
  padding-bottom: 50px!important;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}

#corporate-clients-contact {
  display: flex;
  column-gap: 100px;
  row-gap: 50px;
  #corporate-clients-contact-information {
    width: 80%;
    p {
      margin-bottom: 0;
      b {
        font-size: 20px;
      }
    }
  }
  #corporate-clients-contact-form {
    width: 100%;
  }
}

@media($max-l) {
  #corporate-services {
    grid-template-columns: 1fr 1fr;
  }

  #corporate-clients-contact {
    flex-direction: column;
  }
}

@media($max-m) {
  #corporate-services {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}