#homepage-banner {
  background-color: $light-gray;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, $light-gray 58%);
  height: 500px;
  width: 100%;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    .homepage-banner-text {
      flex-grow: 1;
      h1 {
        color: $green;
        font-size: 35px;
      }
      h2 {
        font-size: 25px;
        font-weight: 200;
      }
      p {
        font-size: 20px;
      }
      .homepage-banner-ctas {
        a {
          width: 150px;
          margin-right: 10px;
        }
      }
    }
    img {
      height: 400px;
    }
  }
}

.homepage-block {
  margin: 50px 0 100px 0;
  .homepage-title {
    font-size: 25px;
    text-align: center;
  }
  .homepage-subtitle {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
  }
  .homepage-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    margin-top: 30px;
    .homepage-feature {
      text-align: center;
      svg {
        fill: $green;
        margin-bottom: 10px;
      }
      .homepage-feature-title {
        font-size: 23px;
      }
      a {
        width: 200px;
      }
    }
  }
}

@media ($max-xl) {
  #homepage-banner {
    .container {
      img {
        height: 300px;
      }
    }
  }
}

@media ($max-l) {
  #homepage-banner {
    height: 100%;
    padding: 40px 20px 50px 20px;
    .container {
      flex-direction: column-reverse;
      .homepage-banner-text {
        text-align: center;
        .homepage-banner-ctas {
          a {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
      }
      img {
        height: 200px;
        padding-bottom: 15px;
      }
    }
  }
}

@media ($max-m) {
  .homepage-block {
    .homepage-features {
      grid-template-columns: 1fr;
      .homepage-feature {
        padding-bottom: 20px;
      }
    }
  }
}

@media ($max-s) {
  #homepage-banner {
    .container {
      img {
        height: 150px;
      }
    }
  }
}
