#reparation-categories {
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #reparation-categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .reparation-category {
      padding: 15px;
      border: 1px solid transparent;
      @include default-transition(box-shadow, border-color);
      &:hover {
        box-shadow: 0 0 3px 0px #b0b3b285;
        border-color: $light-gray
      }
      .reparation-category-name {
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
}

#reparation-thank-you {
  margin-top: 80px;
  div {
    padding: 30px;
    width: 400px;
    background-color: $light-green;
    border-radius: 6px;
    border: 1px solid $light-gray;
    svg {
      margin-bottom: 30px;
      fill: $green;
    }
  }
}