#reparation-categories {
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #reparation-categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .reparation-category {
      padding: 15px;
      border: 1px solid transparent;
      @include default-transition(box-shadow, border-color);
      &:hover {
        box-shadow: 0 0 3px 0px #b0b3b285;
        border-color: $light-gray
      }
      .reparation-category-name {
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
}

#reparation-request {
  img {
    margin-bottom: 30px;
  }
  form {
    width: 600px;
    .form-group {
      margin-bottom: 20px;
      label {
        margin-bottom: 5px;
      }
    }
    #reparation_request_comment {
      height: 150px;
      width: 100%;
    }
  }
}

#reparation-thank-you {
  margin-top: 80px;
  div {
    padding: 30px;
    width: 400px;
    background-color: $light-green;
    border-radius: 6px;
    border: 1px solid $light-gray;
    svg {
      margin-bottom: 30px;
      fill: $green;
    }
  }
}

@media ($max-xl) {
  #reparation-categories #reparation-categories-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media ($max-l) {
  #reparation-categories #reparation-categories-grid {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

@media ($max-s) {
  #reparation-categories #reparation-categories-grid .reparation-category {
    width: 280px;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }
}