#trade-in-form {
  text-align: center;
  h2 {
    margin-bottom: 15px;
  }
  select {
    padding: 15px 50px;
    border: 2px solid black!important;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    width: 550px;
    margin: 15px 0;
    outline: none;
  }
  #trade-in-models {
    transition: opacity 1s ease;
    &:not(.hidden) {
      opacity: 1;
    }
  }
  #trade-in-model-price {
    font-size: 20px;
    transition: opacity 1s ease;
    &:not(.hidden) {
      opacity: 1;
    }
    p {
      margin: 0;
      padding: 0 0 10px 0;
    }
    .model-min-value, .model-max-value {
      color: $green;
    }
  }
  #trade-in-second-part {
    margin-top: 40px;
    transition: opacity 1s ease;
    &:not(.hidden) {
      opacity: 1;
    }
    #products {
      transition: opacity 1s ease;
      &:not(.hidden) {
        opacity: 1;
      }
    }
    #variants {
      transition: opacity 1s ease;
      &:not(.hidden) {
        opacity: 1;
      }
    }
    #variant-infos {
      transition: opacity 1s ease;
      &:not(.hidden) {
        opacity: 1;
      }
      margin-top: 15px;
      font-size: 20px;
      .variant-price-to-compute div {
        margin-top: 30px;
        padding: 30px 80px;
        background-color: #d8fcdb;
        .variant-min-price, .variant-max-price {
          color: $green;
        }
      }
      .variant-price-container {
        font-style: italic;
      }
    }
  }
}