<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="brand" content="facebook">
  <meta itemprop="name" content="Facebook T-Shirt">
  <meta itemprop="description" content="Unisex Facebook T-shirt, Small">
  <meta itemprop="productID" content="facebook_tshirt_001">
  <meta itemprop="url" content="https://example.org/facebook">
  <meta itemprop="image" content="https://example.org/facebook.jpg">
  <div itemprop="value" itemscope itemtype="http://schema.org/PropertyValue">
    <span itemprop="propertyID" content="item_group_id"></span>
    <meta itemprop="value" content="fb_tshirts"></meta>
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="availability" href="http://schema.org/InStock">
    <link itemprop="itemCondition" href="http://schema.org/NewCondition">
    <meta itemprop="price" content="7.99">
    <meta itemprop="priceCurrency" content="USD">
  </div>
</div>