<%# no need for thumbnails unless there is more than one image %>
<% if @product_images.size > 1 %>
  <% @product_images.each do |image| %>
    <% image_key = image.attachment&.key %>
    <div class='thumbnail' style="display: none;" data-variant-id="<%= image.viewable_id %>" data-image-url="<%= cl_image_path(image_key) %>" data-key="<%= image_key %>">
      <%= cl_image_tag image_key, height: 48, crop: :fit, itemprop: "image" %>
    </div>
  <% end %>
<% end %>
