<div id="copyrights">
  <div id="apple-copyright">
    <div class="container">
      <p>"Mac", "iPhone", "iPad", "Apple Watch", "Airpods" are all trademark of Apple Inc.</p>
    </div>
  </div>
  <div id="renodor-copyright">
    <div class="container">
      <p><%= link_to "Designed by renodor", "https://www.renodor.co", target: :blank %></p>
    </div>
  </div>
</div>