<div id="flash">
  <% flash.each do |flash_type, message| %>
    <%# flash['order_completed'] is called by Solidus when an order is complete,
    it is then used inside OrdersHelper#order_just_completed? method. It's not a real flash and we need to ignore it <<< TODO: check if its still true %>
    <% next if flash_type == 'order_completed' %>

    <div data-controller="flash" class="flash <%= flash_type %>">
      <span><%= message %></span>
      <div data-action="click->flash#remove">
        <%= svg 'cross', class: 'close-flash' %>
      </div>
    </div>
  <% end %>
</div>