<div id="homepage-banner">
  <div class="container">
    <div class="homepage-banner-text">
      <p>Salva Mi Maquina</p>
      <p>Somos expertos en dispositivos Apple!</p>
      <p>Un solo lugar para todo lo que necesitas.</p>
    </div>
    <div class="">
      <%= image_tag 'homepage-banner.png' %>
    </div>
  </div>
</div>