<div
  class="products-sorting dropdown"
  data-controller="products-sorting"
>
  <% if version == :desktop %>
    <div id="productsSortingDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,10">
      <span id="current-products-sorting"><%= t('spree.newest') %></span> <!-- Currently our default sorting -->
      <%= svg 'chevron_down' %>
    </div>
  <% end %>
  <div class="<%= version == :desktop ? 'dropdown-menu dropdown-menu-end' : 'products-sorting-options-mobile' %>" aria-labelledby="productsSortingDropdown">
    <%= form_with url: sort_products_path, method: :get do %>
      <% Spree::Product.sorting_options.each do |sort_id, sort_name| %>
        <div class="dropdown-item products-sorting-option">
          <%#= link_to sort_name, sort_products_path(products_sort: sort_id), data: { turbo_stream: true } %>
          <!-- Current default sorting is "newest to oldest" so we select :descend_by_available_on scope by default -->
          <%#=
            radio_button_tag(
              :sort_products,
              sort_id,
              sort_id == :descend_by_available_on,
              id: "#{sort_id}-#{version}",
              data: {
                label: t("spree.#{sort_name}"), key: sort_id,
                action: 'change->products-filters-form#inputChanged'
              }
            )
          %>
          <%#= label_tag "#{sort_id}-#{version}", t("spree.#{sort_name}") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>