<div
  id="products-sorting-mobile"
  class="products-sorting dropdown"
>
  <div class="products-sorting-options-mobile" aria-labelledby="productsSortingDropdown">
    <!-- inputs are in the products_sorting_desktop version partial.
      we need to exctract it from the form and use the form HTML attribute because of the HTML layout -->
    <% Spree::Product.sorting_options.each do |sorting_key, sorting_name| %>
      <div class="dropdown-item products-sorting-option">
        <%= label_tag sorting_key, t("spree.#{sorting_name}"), class: sorting_key == current_sorting_key ? 'checked' : '' %>
      </div>
    <% end %>
  </div>
</div>