<h1>New message from salvamimaquina.com corporate client contact form</h1>

<p><b>From: </b><%= @corporate_message.name %></p>
<p><b>Email: </b><%= @corporate_message.email %></p>
<p><b>Message: </b><%= @corporate_message.message %></p>