<h1>New Message from salvamimaquina.com contact form</h1>

<p><b>From: </b><%= @user_message.name %></p>
<p><b>Email: </b><%= @user_message.email %></p>
<p><b>Message: </b><%= @user_message.message %></p>
