#brands {
  .brand {
    border-bottom: 1px solid $light-gray;
    margin: 10px 0;
    padding: 30px 0;
    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    h2 {
      text-align: center;
      margin-bottom: 25px;
    }
    .brand-categories {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      .brand-category {
        padding: 15px;
        border: 1px solid transparent;
        @include default-transition(box-shadow, border-color);
        &:hover {
          box-shadow: 0 0 3px 0px #b0b3b285;
          border-color: $light-gray
        }
      }
    }
    p {
      text-align: center;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
    a, a:hover {
      color: $body-color;
    }
  }
}

@media ($max-l) {
  #brands .brand .brand-categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media ($max-s) {
  #brands .brand .brand-categories {
    grid-template-columns: 1fr;
  }
}