.brand-grid {
  border-bottom: 1px solid $light-gray;
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  .brand-category {
    padding: 15px;
    border: 1px solid transparent;
    @include default-transition(box-shadow, border-color);
    &:hover {
      box-shadow: 0 0 3px 0px #b0b3b285;
      border-color: $light-gray
    }
  }
  span {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
  a, a:hover {
    color: $dark-gray;
  }
}