#cart {
  #cart-content {
    display: flex;
    #update-cart {
      flex-basis: 70%;
      display: flex;
      .line-items {
        width: 100%;
        margin-right: 20px;
      }
    }
  }
}

@media($max-l) {
  #cart {
    #cart-content {
      flex-direction: column;
      #update-cart {
        .line-items {
          margin-right: 0;
        }
      }
    }
  }
}

@media($max-s) {
  #cart {
    #cart-content {
      #update-cart {
        .line-items {
          .line-item {
            flex-direction: column;
            .line-item-image {
              margin-right: 0;
              margin-bottom: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}