#checkout {
  #checkout-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h1 {
      margin-bottom: 0;
      margin-right: 50px;
    }
    .progress-steps {
      counter-reset: item;
      display: flex;
      div {
        display: flex;
        background-color: transparent;
        color: $gray;
        text-transform: uppercase;
        padding-right: 40px;
        &::before {
          content: counter(item) " ";
          counter-increment: item;
          background-color: $gray;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          color: white;
          margin-right: 8px;
        }
        &.current {
          color: $green;
          font-weight: bold;
          &::before {
            background-color: $green;
          }
        }
        &.completed {
          a {
            color: $dark-gray;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          &::before {
            background-color: $dark-gray;
          }
        }
      }
    }
  }
  #checkout-content {
    display: flex;
    .checkout-details {
      flex-basis: 70%;
      margin-right: 20px;
      input, select {
        padding: 10px;
        width: 100%;
        font-size: 16px;
        &::placeholder {
          font-size: 16px;
        }
        &.disabled {
          background-color: $light-gray;
          color: $dark-gray;
          &:focus, &:active {
            border-color: $light-gray!important;
          }
        }
      }
      select {
        height: 46px;
        background-color: white;
        &:focus-visible {
          outline: none;
        }
      }
      #billing, #shipping, #shipping_method, #payment, #order_details, #order_summary {
        border: none;
        padding: 0;
      }
      &#address-wrapper #checkout_form_address > .field {
        padding-top: 0;
      }
      &#delivery-wrapper #checkout_form_delivery {
        #shipments .shipment {
          h5 {
            margin: 0 0 20px 0;
            padding: 15px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            background-color: #f3f3f3;
          }
          .free-shipping {
            text-align: center;
            color: $green;
            font-weight: 600;
          }
          .shipping-methods {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 20px;
            margin-bottom: 20px;
            .shipping-method {
              input[type='radio'] {
                display: none;
              }
              input[type='radio']:checked + .shipping-method-label, .shipping-method-label:hover {
                background-color: $light-green;
                color: $green;
                border-color: $green;
              }
              .shipping-method-label {
                height: 100%;
                padding: 10px;
                border: 1px solid $light-gray;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @include default-transition(background-color, color, border-color);
                .rate-cost {
                  font-weight: 700;
                }
              }
            }
          }
        }
        .shipping-informations a {
          color: $black;
        }
      }
    }
    #payment-wrapper {
      display: flex;
      justify-content: center;
      #payment-method-fields {
        .payment-icons {
          display: flex;
          svg {
            margin: 0 5px;
          }
        }
      }
      #payment-methods {
        padding-left: 0;
        .card_number, .card_code {
          display: flex;
          .has-tooltip {
            padding: 10px 15px;
            border-top: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            svg {
              fill: $gray;
            }
          }
        }
      }
    }
    #checkout_form_payment {
      width: 400px;
    }
    #checkout-summary {
      height: 100%;
      flex-basis: 30%;
    }
  }
}

@media($max-l) {
  #checkout {
    #checkout-header {
      flex-direction: column;
      align-items: flex-start;
      h1 {
        margin-bottom: 20px;
      }
    }
    #checkout-content {
      flex-direction: column;
      .checkout-details {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@media ($max-m) {
  #checkout {
    #checkout-header .progress-steps {
      div {
        padding-right: 20px;
      }
      div:not(.current) span {
        display: none;
      }
    }
    #checkout-content #delivery-wrapper.checkout-details #checkout_form_delivery #shipments .shipment .shipping-methods {
      grid-template-columns: 1fr;
      .shipping-method {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}