#checkout {
  .progress-steps {
    list-style-type: none;
    counter-reset: item;
    li {
      display: flex;
      background-color: transparent;
      color: $gray;
      &::before {
        content: counter(item) " ";
        counter-increment: item;
        background-color: $gray;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        color: white;
        margin-right: 8px;
      }
      &.current {
        color: $green;
        &::before {
          background-color: $green;
        }
      }
      &.completed {
        a {
          color: $dark-gray;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &::before {
          background-color: $dark-gray
        }
      }
    }
  }
  input, select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
    }
    &.disabled {
      background-color: $light-gray;
      color: $dark-gray;
      &:focus, &:active {
        border-color: $light-gray!important;
      }
    }
  }
  select {
    height: 46px;
    background-color: white;
    &:focus-visible {
      outline: none;
    }
  }
  #payment-wrapper {
    display: flex;
    justify-content: center;
    #payment-method-fields {
      .payment-icons {
        display: flex;
        svg {
          margin: 0 5px;
        }
      }
    }
    #payment-methods {
      padding-left: 0;
      .card_number, .card_code {
        display: flex;
        .has-tooltip {
          padding: 10px 15px;
          border-top: 1px solid $light-gray;
          border-right: 1px solid $light-gray;
          border-bottom: 1px solid $light-gray;
          svg {
            fill: $gray;
          }
        }
      }
    }
  }
  #billing, #shipping, #shipping_method, #payment, #order_details, #order_summary {
    border: none;
    padding: 0;
  }
  #shipping {
    .row {
      margin-bottom: 10px;
    }
  }
  #shipping_method {
    table.stock-contents {
      width: 100%;
      thead th {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 10px;
      }
      tbody tr td {
        text-align: left;
      }
    }
    .item-original-price {
      font-weight: 300;
      font-size: 15px;
      padding: 0 10px;
    }
    .stock-shipping-method-title {
      margin: 0 0 20px 0;
      padding: 15px;
      background-color: $light-gray;
      font-size: 16px;
      font-weight: 700;
    }
    .shipping-methods {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .shipping-method {
        margin: 10px;
        input[type='radio'] {
          display: none;
        }
        input[type='radio']:checked + .shipping-method-label, .shipping-method-label:hover {
          background-color: $light-green;
          color: $green;
          border-color: $green;
        }
        .shipping-method-label {
          height: 100%;
          padding: 10px;
          border: 1px solid $light-gray;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @include default-transition(background-color, color, border-color)
          .rate-cost {
            font-weight: 700;
          }
        }
      }
    }
  }
  #checkout_form_payment {
    width: 400px;
  }
  #checkout-summary {
    height: 100%;
    margin-top: 10px;
    padding: 20px;
  }
}