#content-header {
  margin-bottom: 25px;
  #categories-nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    #categories-nav-links-container {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: $light-gray;
      }
      #categories-nav-links {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
      }
    }
    .category-nav-link{
      display: flex;
      align-items: center;
      column-gap: 5px;
      background-color: transparent;
      padding: 10px;
      color: $dark-gray;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      @include default-transition(color);
      &:hover, &.active {
        color: $green;
      }
    }
  }
}