#registration {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  #account, #guest_checkout {
    max-width: 500px;
    width: 50%;
  }
}
#existing-customer, #new-customer, #forgot-password {
  max-width: 500px;
  a {
    color: $body-color;
    @include default-transition(color);
    &:hover {
      color: $green;
    }
  }
}

input.login-input {
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  &::placeholder {
    font-size: 16px;
  }
}

@media ($max-l) {
  #registration {
    flex-direction: column-reverse;
    align-items: center;
    #account, #guest_checkout {
      width: 100%;
    }
  }
}