#related-products-container {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid $light-gray;
  #related-products {
    display: flex;
    column-gap: 30px;
    text-align: center;
    overflow-x: auto;
    padding-bottom: 30px;
    .related-product {
      width: 200px;
      position: relative;
      flex-shrink: 0;
      img {
        padding: 20px;
        width: 100%;
      }
      .product-name {
        margin-bottom: 5px;
      }
      .prices {
        font-weight: 500;
      }
    }
  }
}

@media ($max-m) {
  #related-products-container #related-products .related-product {
    width: 150px;
  }
}