#sidebar {
  border: 1px solid $light-gray;
  padding: 20px 10px;
  #taxonomies {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid $light-gray;
    .taxonomy-root {
      border-bottom: none;
      margin-bottom: 10px;
      padding: 0 10px;
    }
    .accordion .accordion-item {
      border-bottom: none;
      .accordion-header .accordion-button {
        padding: 10px;
        &:focus {
          box-shadow: none;
        }
        &:hover, &:not(.collapsed) {
          color: $dark-gray;
          background-color: white;
          box-shadow: none;
          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
          }
        }
      }
      .accordion-body {
        padding: 5px 0;
        .sub-taxon {
          display: block;
          width: 100%;
          padding: 5px 10px;
          margin: 5px 0;
          color: $dark-gray;
          text-decoration: none;
          @include default-transition(color, background-color);
          &:hover, &.active {
            color: $green;
            background-color: $light-green
          }
        }
      }
    }
  }
  #sidebar_products_search {
    .filter-title {
      color: $dark-gray;
      font-weight: 500;
      border-bottom: none;
      padding: 0 10px;
      margin-bottom: 10px;
    }
    .product-filter {
      border-bottom: 1px solid $light-gray;
      margin-bottom: 25px;
      padding-bottom: 25px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .product-filter-label {
        width: 100%;
        margin: 5px 0;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include default-transition(color, background-color);
        &:hover {
          color: $green;
          background-color: $light-green;
        }
        svg {
          display: none;
        }
      }
      input[type='checkbox'] {
        display: none;
      }
      input[type='checkbox']:checked + .product-filter-label {
        color: $green;
        background-color: $light-green;
        svg {
          display: block;
        }
      }
    }
  }
}