#sidebar {
  width: 200px;
  height: 100%;
  border: 1px solid $light-gray;
  margin-right: 25px;
  padding: 20px 10px;
  flex-shrink: 0;
  text-align: left!important;
  #sidebar-categories {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid $light-gray;
    text-align: left;
    h6 {
      border-bottom: none;
      margin-bottom: 10px;
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .accordion .accordion-item {
    border-bottom: none;
    .accordion-header .accordion-button {
      padding: 10px;
      font-weight: 700;
      text-decoration: none;
      &::after {
        background-image: none;
      }
      &.with-children::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
      }
      &:focus {
        box-shadow: none;
      }
      &:hover, &:not(.collapsed) {
        color: $body-color;
        background-color: white;
        box-shadow: none;
      }
    }
    .accordion-body {
      padding: 5px 0;
      .accordion-element {
        display: block;
        width: 100%;
        padding: 5px 10px;
        margin: 5px 0;
        color: $body-color;
        text-decoration: none;
        @include default-transition(color, background-color);
        &:hover, &.active {
          color: $green;
          background-color: $light-green
        }
      }
    }
  }
  #sidebar_products_search {
    .filter-title {
      color: $body-color;
      font-weight: 500;
      border-bottom: none;
      padding: 0 10px;
      margin-bottom: 10px;
      text-align: left;
    }
    .product-filter {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $light-gray;
      &:last-child {
        border-bottom: none;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .product-filter-label {
        width: 100%;
        margin: 5px 0;
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include default-transition(color, background-color);
        &:hover {
          color: $green;
          background-color: $light-green;
        }
        svg {
          display: none;
        }
      }
      input[type='checkbox'] {
        display: none;
      }
      input[type='checkbox']:checked + .product-filter-label {
        color: $green;
        background-color: $light-green;
        svg {
          display: block;
        }
      }
      #color-filter {
        margin: 15px 9px 0 9px;
      }
    }
  }
}

@media ($max-m) {
  #sidebar {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 0;
    #product-filters-modal {
      #product-filters-modal-toggle {
        display: flex;
        align-items: center;
        padding: 10px;
        svg {
          fill: $dark-gray;
          margin-right: 15px;
        }
      }
      #productFiltersModal {
        .modal-dialog .modal-content .modal-header .nav-tabs {
          border-bottom: none;
          .nav-item .nav-link {
            text-transform: uppercase;
            border: none;
            color: $dark-gray;
            @include default-transition(background-color, color);
            &.active {
              background-color: $light-green;
              color: $green;
            }
          }
        }
      }
    }
  }
}

@media ($min-m) {
  #sidebar {
    #product-filters-modal #productFiltersModal{
      .modal-dialog {
        margin: 0;
        .modal-content {
          border: none;
          border-radius: 0;
          .modal-header {
            display: none;
          }
          .modal-body {
            padding: 0;
          }
        }
      }
    }
  }
}