#wrapper {
  min-height: calc(100vh - 110px - 150px);
  #wrapper-content {
    &.sidebar-layout {
      display: flex;
      column-gap: 25px;
    }
    #content {
      padding: 0;
      width: 100%;
    }
  }
}

@media ($max-m) {
  #wrapper {
    #wrapper-content.sidebar-layout {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 479px) {
  #content {
      text-align: initial;
  }
}