<div id="divBtnCheckOut"></div>

<script
src="https://csp.credomatic.com:50581/3DS/CheckOut/js/checkout.js"
id="baccheckout"> 
</script> 
<script>
  const token = "eyJhbGciOiJIUzI1NiJ9.IntcImV4cFwiOjE2Mjc5OTcwNjksXCJpYXRcIjoxNjI3OTEwNjc3LFwiaXNzXCI6XCI0Y3hYZnhaNEV5TGJ4WVFDYThcIixcInVuaXF1ZV9uYW1lXCI6XCI0Y3hYZnhaNEV5TGJ4WVFDYThcIixcInN1YlwiOlwiU0FMVkFNSU1BUVVJTkFcIixcImF1ZFwiOlwiQkNPXCIsXCJSZXF1ZXN0XCI6e1wib3JkZXJJZFwiOlwiUEFOS0NTQUxWQU1JTUFRVUlOQS0xMjM0NTY3ODkwXCIsXCJ0b3RhbEFtb3VudFwiOlwiMTA3XCIsXCJ0ZXJtaW5hbElkXCI6XCJURVNUMDEwM1wiLFwiaW52b2ljZVwiOlwiSW52b2ljZTEyMzQ1XCIsXCJ0cmFuc2FjdGlvblR5cGVcIjpcIlNBTEVcIixcInRheEFtb3VudFwiOlwiMDA3XCIsXCJjbGllbnRJZFwiOlwiMTExXCIsXCJpZFNlc3Npb25cIjpcIjEwOTI4Mjk3MDk3MjA5OFwifX0i.e8DX4bvpDzLcBU0yPkgXOLF6WPEgvtWqfHThIq-RdTw"



  checkout.isClave(true);
  checkout.init({
    accessKey: '4cxXfxZ4EyLbxYQCa8',
    token: token,
    callback: function (data) {
      //enviar post al server.
      console.log(JSON.stringify(data.token))
    },
    renderButton: true,
    buttonText: 'Pagar',
    buttonContainerId: 'divBtnCheckOut',
    buttonCustomCSS: 'btn btn-lg btn-block btn-warning ',
  });

  // const obj = { AppKey: '4cxXfxZ4EyLbxYQCa8', Channel: "WEB" };

  //       const options = {
  //           method: "POST",
  //           body: JSON.stringify(obj),
  //           headers: {
  //               'Accept': "application/json",
  //               'Content-Type': "application/json",
  //               'Authorization': `Bearer  ${token}`
  //           }

  //       };

  // fetch(`${checkout.ApiUrl}/Clave/GetUrl`, options)
  //           .then(res => {
  //            debugger
  //           })
  
</script>
