<div id="divBtnCheckOut"></div>

<script
src="https://csp.credomatic.com:50581/3DS/CheckOut/js/checkout.js"
id="baccheckout"> 
</script> 
<script>
  const token = "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2Mjc5ODM2NDcsImlhdCI6MTYyNzk0NzY0NywiaXNzIjoiNGN4WGZ4WjRFeUxieFlRQ2E4IiwidW5pcXVlX25hbWUiOiI0Y3hYZnhaNEV5TGJ4WVFDYTgiLCJzdWIiOiJTQUxWQU1JTUFRVUlOQSIsImF1ZCI6IkJDTyIsIlJlcXVlc3QiOnsib3JkZXJJZCI6IlBBTktDU0FMVkFNSU1BUVVJTkEtMTIzNDU2Nzg5MCIsInRvdGFsQW1vdW50IjoiMTA3IiwidGVybWluYWxJZCI6IlRFU1QwMTAzIiwiaW52b2ljZSI6Ikludm9pY2UxMjM0NSIsInRyYW5zYWN0aW9uVHlwZSI6IlNBTEUiLCJ0YXhBbW91bnQiOiIwMDciLCJjbGllbnRJZCI6IjExMSIsImlkU2Vzc2lvbiI6IjEwOTI4Mjk3MDk3MjA5OCJ9fQ.X8TdN0B7KemCo56gm2vaulODoPp83E7C4PWc6hzq4R0"



  checkout.isClave(true);
  checkout.init({
    accessKey: '4cxXfxZ4EyLbxYQCa8',
    token: token,
    callback: function (data) {
      //enviar post al server.
      console.log(JSON.stringify(data.token))
    },
    renderButton: true,
    buttonText: 'Pagar',
    buttonContainerId: 'divBtnCheckOut',
    buttonCustomCSS: 'btn btn-lg btn-block btn-warning ',
  });

  // const obj = { AppKey: '4cxXfxZ4EyLbxYQCa8', Channel: "WEB" };

  //       const options = {
  //           method: "POST",
  //           body: JSON.stringify(obj),
  //           headers: {
  //               'Accept': "application/json",
  //               'Content-Type': "application/json",
  //               'Authorization': `Bearer  ${token}`
  //           }

  //       };

  // fetch(`${checkout.ApiUrl}/Clave/GetUrl`, options)
  //           .then(res => {
  //            debugger
  //           })
  
</script>
