<% if @taxon&.all_products.present? %>
  <div class="navigation product-filter" data-hook="navigation">
    <ul>
      <li>
        <input type="checkbox"
                id="on-sale-products"
                name="scopes[on_sale]"
                <%= params[:scopes] && params[:scopes][:on_sale] ? "checked" : "" %>
        />
        <label class="product-filter-label" for="on-sale-products">
          <span><%= I18n.t('spree.on_sale_products') %></span>
          <%= svg 'cross' %>
        </label>
      </li>
    </ul>
  </div>
<% end %>