<div style="font-family: sans-serif; color: #33333A; padding: 0 30px 30px 30px;">
  <div style="height: 100px; margin: 0 auto 10px auto; width: 200px;">
    <%= image_tag 'logo-smm.png' %>
  </div>

  <div>
    <p style="text-align: center;"><b>Se ha mandado una solicitud para restablecer su contraseña.</b></p>
    <p style="text-align: center;">Si viene de usted, por favor ignore este mensaje.</p>
    <p style="text-align: center;">Sino, <a href="<%= @edit_password_reset_url %>">haga clic aquí.</a></p>
  </div>
</div>
