#admin-doc {
  .admin-doc-block {
    border-bottom: 2px solid black;
    margin-bottom: 50px;
    padding-bottom: 50px;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    img {
      display: block;
      border: 1.5px solid $dark-gray;
      margin: 10px;
    }
    hr {
      margin: 50px 0;
    }
    h2 {
      font-size: 28px;
    }
    .doc-warning {
      display: flex;
      align-items: center;
      column-gap: 10px;
      color: $red;
      padding-bottom: 1rem;
      svg {
        fill: $red;
        flex-shrink: 0;
      }
      a {
        color: $red;
      }
    }
    .doc-code {
      background-color: #eee;
      padding: 15px;
      font-family: monospace;
      span {
        display: block;
      }
    }
  }
}