// Prevent admin nav to collapse

.admin-nav-hidden {
  padding-left: 200px;
  .admin-nav {
    width: 200px;
  }
  .main-header {
    margin-left: 0;
  }
  .text {
    display: initial;
    transform: none;
  }
}