
#slider-form {
  .image-per-slide {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  .slides {
    margin: 20px 0;
    .slide {
      border: 1px solid $light-gray;
      margin: 20px 0;
      .slide-header {
        background-color: $light-gray;
        padding:15px;
        display: flex;
        column-gap: 15px;
        span {
          padding-right: 15px;
          border-right: 1px solid #9e9e9e;
          &:last-child {
            border-right: none;
          }
        }
      }
      .slide-content {
        padding: 15px;
        .slide-images {
          display: flex;
          column-gap: 30px;
          img {
            max-height: 150px;
            height: auto;
            max-width: 400px;
            width: auto;
          }
        }
      }
    }
  }
}