
#slider-form {
  .no-slide-error {
    color: #CE452A;
  }
  .image-per-slide {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  .existing-slide {
    margin: 30px 0;
    .remove-existing-slide {
      cursor: pointer;
      text-decoration: underline;
      color: #3D76F1;
      margin-top: 5px;
    }
  }
  #slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .photo-input-container {
      margin: 20px 0;
      .photo-preview {
        max-width: 300px;
        max-height: 100px;
        width: auto;
        height: auto;
      }
      label {
        margin-bottom: 0;
      }
      .remove-slide {
        cursor: pointer;
        text-decoration: underline;
        color: #3D76F1;
        margin-left: 15px;
      }
    }
  }
}