.banner {
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  margin-bottom: 40px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  p {
    color: white;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid white;
    font-weight: 300;
    font-size: 22px;
  }
}

// Legacy code
// #homepage-banner {
//   background-color: $light-gray;
//   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, $light-gray 58%);
//   height: 500px;
//   width: 100%;
//   .container {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     .homepage-banner-text {
//       flex-grow: 1;
//       h1 {
//         color: $green;
//         font-size: 35px;
//       }
//       h2 {
//         font-size: 25px;
//         font-weight: 200;
//       }
//       p {
//         font-size: 20px;
//       }
//       .homepage-banner-ctas {
//         a {
//           width: 180px;
//           margin-right: 10px;
//         }
//       }
//     }
//     img {
//       height: 400px;
//     }
//   }
// }

// @media ($max-xl) {
//   #homepage-banner {
//     .container {
//       img {
//         height: 300px;
//       }
//     }
//   }
// }

// @media ($max-l) {
//   #homepage-banner {
//     height: 100%;
//     padding: 40px 20px 50px 20px;
//     .container {
//       flex-direction: column-reverse;
//       .homepage-banner-text {
//         text-align: center;
//         .homepage-banner-ctas {
//           a {
//             margin: 5px;
//             margin-bottom: 15px;
//           }
//         }
//       }
//       img {
//         height: 200px;
//         padding-bottom: 15px;
//       }
//     }
//   }
// }

// @media ($max-s) {
//   #homepage-banner {
//     .container {
//       img {
//         height: 150px;
//       }
//     }
//   }
// }
