.btn-primary {
  padding: 15px 30px!important;
  border-radius: 0!important;
  border: none!important;
  background-color: $green!important;
  box-shadow: none!important;
  font-size: 1rem!important;
  font-weight: initial!important;
  @include default-transition(background-color);
  &.rounded {
    border-radius: 6px!important;
  }
  &.large {
    padding-left: 60px!important;
    padding-right: 60px!important;
  }
  &:disabled {
    background-color: $green;
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: initial;
  }
  &:not(:disabled) {
    &:hover, &:focus, &:active {
      background-color: $dark-green!important;
    }
  }
}

.btn-secondary {
  border-radius: 0;
  background-color: #4b4b4b;
  border: none!important;
  box-shadow: none;
  @include default-transition(background-color);
  &:hover {
    background-color: $dark-gray;
  }
}
