.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: black;
  animation: fade-in .3s linear;
  z-index: 10;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}