.flash {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  z-index: 100;
  &.error {
    background-color: $dark-red;
  }
  &.notice, &.success {
    background-color: $green
  }
}