.flash {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 10px 20px;
  span {
    flex-grow: 1;
  }
  svg {
    cursor: pointer;
    flex-shrink: 0;
    fill: white;
    opacity: 0.6;
    @include default-transition(opacity);
    &:hover {
      opacity: 1;
    }
  }
  &.error {
    background-color: $dark-red;
  }
  &.notice, &.success {
    background-color: $green
  }
}