.field_with_errors {
  input {
    border-color: $red;
  }
}

input, textarea, select {
  border: 1px solid $light-gray!important;
  &:focus, &:active {
    border: 1px solid $green!important;
  }
  &.error {
    border: 1px solid $red!important;
  }
}

.field {
  padding-top: 10px;
  padding-bottom: 10px;

  label {
    margin-bottom: 5px;
  }
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border: 1px solid $red!important;
}
