.field_with_errors {
  input {
    border-color: $red;
  }
}

input, textarea, select {
  border-color: $light-gray!important;
  &:focus, &:active {
    border-color: $green!important;
  }
  &.error {
    border-color: $red!important;
  }
}