.navbar {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  .container-fluid {
    padding-left: 0;
  }
  .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
  }
  .navbar-cart-link {
    color: $green;
    position: relative;
    @include default-transition(color);
    &:hover {
      color: $dark-green;
      .navbar-cart-quantity {
        background-color: $dark-green;
      }
    }
    svg {
      margin-bottom: 5px;
    }
    .navbar-cart-quantity {
      position: absolute;
      right: 6px;
      bottom: 9px;
      border-radius: 50%;
      background-color: $green;
      color: white;
      height: 16px;
      width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      @include default-transition(background-color);
    }
  }
}