<!-- TODO: use this in front-end also (not only in admin). And use this "size" variable to define image and placeholder size-->
<% size ||= :mini %>
<% if image_attachment = image&.attachment %>
  <%= cl_image_tag_with_folder(image_attachment, model: Spree::Image) %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>