<div class="admin-nav">
  <%= render partial: 'spree/admin/shared/navigation_header' %>
  <div class="admin-nav-sticky">
    <%= render partial: 'spree/admin/shared/menu' %>
    <div class="admin-nav-footer">
      <%= render partial: 'spree/admin/shared/locale_selection' %>
      <%= render partial: 'spree/admin/shared/navigation_footer' if current_spree_user&.has_spree_role?(:admin) %>
    </div>
  </div>
</div>