// Packages
@import 'bootstrap/scss/bootstrap';
@import 'mapbox-gl/dist/mapbox-gl';

// Config
@import 'config/breakpoints';
@import 'config/utility';
@import 'config/colors';
@import 'config/bootstrap_variables';

// Components
@import 'components/container';
@import 'components/navbar';
@import 'components/btn';
@import 'components/flash';
@import 'components/form';
@import 'components/tooltip';
@import 'components/footer';

// Spree Components
@import 'spree/frontend/wrapper';
@import 'spree/frontend/login';
@import 'spree/frontend/brand_grid';
@import 'spree/frontend/sidebar';
@import 'spree/frontend/price_range_slider';
@import 'spree/frontend/image_placeholder';
@import 'spree/frontend/product_grid';
@import 'spree/frontend/product_show';
@import 'spree/frontend/cart';
@import 'spree/frontend/line_item';
@import 'spree/frontend/checkout';
@import 'spree/frontend/order';
@import 'spree/frontend/checkout_summary';
@import 'spree/frontend/map';

// Pages
@import 'pages/homepage';
@import 'pages/reparations';
@import 'pages/contact';

body {
  color: $dark-gray;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

#errorExplanation {
  display: none; // TODO: WARNING, don't hide that by default... But try to have better design of error explanations...
}