// Config
@import 'config/breakpoints';
@import 'config/utility';
@import 'config/colors';
@import 'config/bootstrap_variables';

// Spree Components
@import 'spree/backend/slider_form';
@import 'spree/backend/form_with_images';

// Prevent admin nav to collapse
.admin-nav-hidden {
  padding-left: 200px;
  .admin-nav {
    width: 200px;
  }
  .main-header {
    margin-left: 0;
  }
  .text {
    display: initial;
    transform: none;
  }
}