<% if banner.is_a?(Banner) %>
  <div
    class="banner"
    style="background-image:
      <%= 'linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),' if banner.any_text? %>
      url(<%= cl_image_path banner.photo.key, width: 1296, height: 200 %>)
    "
  >
    <% banner.texts.each do |text| %>
      <% next if text.blank? %>
      <p><%= text %></p>
    <% end %>
  </div>
<% end %>