<div id="about">
  <h1>Sobre Salva Mi Máquina</h1>

  <div id="about-content">
    <%= image_tag "about-bella-vista.jpeg" %>

    <p>Salva Mi Máquina es un empresa panameña <b>creada en enero del 2016</b> por Victor Manche. La idea surgió cuando el cargador de su viejo Macbook Unibody 2008 dejó de funcionar. Se dió cuenta de que no habían opciones económicas, y tampoco buen servicio al cliente para poder solucionar su problema.</p>

    <p>La empresa empezó con la venta de cargadores de Mac económicos y luego comenzó a ofrecer servicio técnico a domicilio.</p>

    <p>Se unió al proyecto Victor Romero en el 2017 como técnico, y ahora es Socio y Director Técnico de la empresa. Finalmente, Quentin Abdie se sumó a la aventura en el 2018 como Director Comercial. Tambien es Gerente de la sucursal de San Francisco.</p>

    <%= image_tag "about-san-francisco.jpeg" %>

    <p>Nuestra meta es ofrecer a nuestra clientela la <b>mejor experiencia de servicio técnico, a un costo accesible para todos</b>. Para lograr eso hemos invertido en un <b>amplio y surtido inventario de piezas originales</b> (o de calidad equivalente), para poder diagnosticar y reparar los equipo en el menor tiempo posible. También contamos con el apoyo de <b>12 técnicos divididos entre las sucursales de Bella Vista y San Franciso.</b></p>

    <p>Otro aspeto que nos diferencia de nuesta competencia es que contamos con un <b>taller de reparación de tarjetas madres</b> (placas lógicas), que en la mayoria de los casos nos permite salvar equipos, evitando que el cliente deba reemplazar su equipo o invertir mucho dinero para repararlo.<p>

    <p>Desde el 2019, Salva Mi Máquina también ofrece a sus clientes <b>equipos nuevos con garantía</b>. Mantenemos en stock equipos nuevos para todas las necesidades y gustos y a precios accesibles.</p>
  </div>
</div>