<div id="payment-methods">
  <div class="payment-methods-block">
    <h3><%= t('spree.payment_methods.credit_card') %></h3>
    <div id="payment-methods">
      <div class="payment-method">
        <p><b>Visa</b></p>
        <%= svg 'visa' %>
      </div>
      <div class="payment-method">
        <p><b>Master Card</b></p>
        <%= svg 'master' %>
      </div>
      <div class="payment-method">
        <p><b>American Express</b></p>
        <%= svg 'american_express' %>
      </div>
    </div>
  </div>
</div>